* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'raleway', sans-serif, 'Helvetica';
  font-weight: 400;
  font-size: 0.95em;
  font-style: normal;
}

.body_wrapper {
  background-color: #f0f0f0 !important;
}

.body_wrapper .nav_container .nav-pills {
  margin-right: -1.3em;
}

.body_wrapper .nav_container .nav-pills .help_block {
  width: auto;
}

.body_wrapper .nav_container .nav-pills .help_block .help {
  color: black !important;
}

.body_wrapper .nav_container .nav-pills .help_block .help img {
  width: 2em;
  margin-right: 0.4em;
}

.body_wrapper .nav_container .nav-pills .sign_in-block .sign_in {
  color: black !important;
}

.body_wrapper .nav_container .nav-pills .sign_in-block .sign_in img {
  width: 2em;
  margin-bottom: 1.7em;
  margin-right: 1.1em;
}

.body_wrapper .nav_container .nav-pills .language_choice .language_choice-options img {
  width: 1.6em;
  margin-bottom: 0.4em;
  margin-right: 1.1em;
}

.body_wrapper .nav_container .nav-pills .language_choice .language_choice-options .EN {
  color: black !important;
}

.body_wrapper .nav_container .nav-pills .language_choice .dropdown-menu {
  margin-top: -4.1em;
  margin-left: 1em;
  min-width: 5.4em;
  border-radius: 0em;
  box-shadow: 1.2px 1.2px 0px 1.2px #b4b4b4;
}

.body_wrapper .nav_container .nav-pills .language_choice .dropdown-menu img {
  width: 0.8em;
}

@media screen and (max-width: 992px) {
  .body_wrapper .nav_container .nav-pills .help_block {
    width: auto;
  }
  .body_wrapper .nav_container .nav-pills .help_block .help img {
    width: 2em;
  }
  .body_wrapper .nav_container .nav-pills .sign_in-block .sign_in {
    padding-top: 0.75em;
  }
  .body_wrapper .nav_container .nav-pills .sign_in-block .sign_in img {
    width: 2em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .language_choice-options {
    padding-top: 0.75em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .language_choice-options img {
    width: 1.6em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .dropdown-menu img {
    width: 0.8em;
  }
}

@media screen and (max-width: 768px) {
  .body_wrapper .nav_container .nav-pills .help_block {
    width: auto;
  }
  .body_wrapper .nav_container .nav-pills .help_block .help {
    color: #f0f0f0  !important;
  }
  .body_wrapper .nav_container .nav-pills .help_block .help img {
    width: 3em;
  }
  .body_wrapper .nav_container .nav-pills .sign_in-block .sign_in {
    color: #f0f0f0 !important;
  }
  .body_wrapper .nav_container .nav-pills .sign_in-block .sign_in img {
    width: 3em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice {
    margin-top: 0.3em;
    margin-left: -0.9em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .language_choice-options img {
    width: 2.5em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .language_choice-options .EN {
    color: #f0f0f0 !important;
    margin-left: -2em;
  }
  .body_wrapper .nav_container .nav-pills .language_choice .dropdown-menu {
    margin-top: -5em;
  }
}

.body_wrapper #shopping_cart-process {
  animation: 7s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
  padding-top: 0.92em;
}

.body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-1 {
  background: #1BA1E2 !important;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 1.4em;
}

.body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-2 {
  background: #1BA1E2 !important;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 1.4em;
}

.body_wrapper #shopping_cart-process .shopping_process-container .step_disable > p {
  margin-top: 0.5em;
}

.body_wrapper #shopping_cart-process .shopping_process-container .progress_rate-lg {
  font-weight: bolder;
}

@media screen and (max-width: 992px) {
  .body_wrapper #shopping_cart-process {
    padding-top: 5em;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-1 {
    text-align: center;
    font-size: 2em;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-1 .step_2-check {
    width: 1.5em;
    margin-top: -0.3em;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-2 {
    text-align: center;
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable {
    margin: 0 10vmin;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-1 {
    text-align: center;
    font-size: 2em;
    border: solid #006EAF   1px;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-1 .step_2-check {
    margin-left: -0.1em;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .step_disable .step_disable-2 {
    text-align: center;
    font-size: 2em;
    border: solid #006EAF   1px;
  }
  .body_wrapper #shopping_cart-process .shopping_process-container .progress_rate-lg {
    display: none;
  }
}

.body_wrapper #my_data {
  margin-top: -2em;
}

.body_wrapper #my_data .my_data-container {
  width: 86vmin !important;
  border-radius: 0 !important;
  border: solid black 2px;
  box-shadow: 1.5px 1.2px 0px 1.2px #b4b4b4;
}

.body_wrapper #my_data .my_data-container .login_guide-text h2 {
  margin-top: -0.5em;
  font-weight: bolder;
}

@font-face {
  .body_wrapper #my_data .my_data-container .login_guide-text h2 {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #my_data .my_data-container .login_guide-text .login_guide-text, .body_wrapper #my_data .my_data-container .login_guide-text h6 {
  font-size: xx-small;
  padding-right: 1.4em;
}

.body_wrapper #my_data .my_data-container .name_input-container {
  padding-right: 3.3em;
}

.body_wrapper #my_data .my_data-container .name_input-container .given_name-block .given_name p {
  font-size: x-small;
}

@font-face {
  .body_wrapper #my_data .my_data-container .name_input-container .given_name-block .given_name p {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #my_data .my_data-container .name_input-container .given_name-block .given_name input {
  width: 25.8em !important;
  height: 3.1em;
  border: solid #1BA1E2 0.2em !important;
  margin-top: -1.3em;
}

.body_wrapper #my_data .my_data-container .name_input-container .given_name-block .given_name input.valid {
  border: 2px solid green !important;
}

.body_wrapper #my_data .my_data-container .name_input-container .given_name-block .given_name input.invalid {
  border: 2px solid red !important;
}

.body_wrapper #my_data .my_data-container .name_input-container .family_name-block .family_name p {
  font-size: x-small;
}

@font-face {
  .body_wrapper #my_data .my_data-container .name_input-container .family_name-block .family_name p {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #my_data .my_data-container .name_input-container .family_name-block .family_name input {
  width: 25.8em !important;
  height: 3.1em;
  border: solid #1BA1E2 0.2em !important;
  margin-top: -1.3em;
}

.body_wrapper #my_data .my_data-container .name_input-container .family_name-block .family_name input.valid {
  border: 2px solid green !important;
}

.body_wrapper #my_data .my_data-container .name_input-container .family_name-block .family_name input.invalid {
  border: 2px solid red !important;
}

.body_wrapper #my_data .my_data-container .continue_button-container {
  margin-right: -10em;
}

.body_wrapper #my_data .my_data-container .continue_button-container .continue_button-active {
  width: 8.7em;
  height: 2.1em;
  background-color: #1BA1E2;
  color: white;
  border: solid #006EAF 0.13em;
  border-radius: 0.4em;
  box-shadow: 2px 3px #b4b4b4;
  margin-top: 0.5em;
  padding-top: -2em;
  padding-left: 1.6em;
}

.body_wrapper #my_data .my_data-container img {
  margin-top: 1em;
  margin-left: -1.3em;
  width: 0.6em;
}

@media screen and (max-width: 992px) {
  .body_wrapper .my_data-wrapper {
    margin-left: 0em !important;
    padding: 0 55px !important;
  }
  .body_wrapper .my_data-wrapper .my_data-container .continue_button-container {
    margin-top: 1em;
    margin-left: -50px;
  }
}

@media screen and (max-width: 768px) {
  .body_wrapper .my_data-wrapper .my_data-container .continue_button-container {
    margin-top: 1em;
    margin-left: 1em;
  }
}

@media screen and (max-width: 576px) {
  .body_wrapper .my_data-wrapper {
    margin-top: 2em !important;
    padding: 0 40px !important;
  }
  .body_wrapper .my_data-wrapper .my_data-container h2 {
    padding-top: 1em;
  }
  .body_wrapper .my_data-wrapper .my_data-container .continue_button-container {
    margin-top: 0em;
    margin-left: 0em;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 425px) {
  .body_wrapper header .language_choice {
    margin-right: -5em !important;
  }
  .body_wrapper .my_data-wrapper {
    margin-top: 2em !important;
    padding: 0 40px !important;
  }
  .body_wrapper .my_data-wrapper .my_data-container h2 {
    padding-top: 1em;
  }
  .body_wrapper .my_data-wrapper .my_data-container .continue_button-container {
    margin-top: 0em;
    margin-left: 0em;
    padding-bottom: 1em;
  }
}

.body_wrapper #step_2, .body_wrapper .step_2-wrapper {
  margin-top: -2em;
}

.body_wrapper #step_2 .step_2-container, .body_wrapper .step_2-wrapper .step_2-container {
  width: 86vmin !important;
  height: 42.4vh;
  border-radius: 0 !important;
  border: solid black 2px;
  box-shadow: 1.5px 1.2px 0px 1.2px #b4b4b4;
}

.body_wrapper #step_2 .step_2-container .step_2-text h2, .body_wrapper .step_2-wrapper .step_2-container .step_2-text h2 {
  font-size: 2.1em;
  font-weight: bolder;
  margin-top: -0.2em;
}

@font-face {
  .body_wrapper #step_2 .step_2-container .step_2-text h2, .body_wrapper .step_2-wrapper .step_2-container .step_2-text h2 {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #step_2 .step_2-container .step_2-text h6, .body_wrapper .step_2-wrapper .step_2-container .step_2-text h6 {
  font-size: 0.8em;
  padding-top: 0.8em;
  padding-right: 0.8em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info {
  margin-left: 9em;
  width: 27em;
  border: solid #f2f2f2 1px;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .credit_card-block, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block {
  margin-top: -0.1em;
  margin-left: 2em;
  padding-bottom: 0.7em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .credit_card-block .credit_card, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block .credit_card {
  width: 4.6vmin !important;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4 {
  font-size: 1.2em;
  font-weight: bolder;
}

@font-face {
  .body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4 {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process-info .secure_process h6, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process-info .secure_process h6 {
  font-size: 0.8em !important;
  letter-spacing: 0.1px;
  text-align: center;
}

@font-face {
  .body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process-info .secure_process h6, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process-info .secure_process h6 {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.ttf") format("truetype"), url("../fonts/Helvetica.eot") format("embedded-opentype");
  }
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box {
  margin: 0 36%;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box img, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box img {
  width: 3.4em !important;
  height: 2.1em !important;
  margin-right: 2.49em !important;
}

.body_wrapper #step_2 .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box .visa_card, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container .card-box .visa_card {
  margin-left: -1.8em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .continue_button-container, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .continue_button-container {
  margin-right: -10em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .continue_button-container .continue_button-active, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .continue_button-container .continue_button-active {
  width: 8.7em;
  background-color: #1BA1E2;
  color: white;
  border: solid #006EAF 0.13em;
  border-radius: 0.4em;
  box-shadow: 2px 3px #b4b4b4;
  padding-left: 1.6em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .continue_button-container .continue_button-active:hover i, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .continue_button-container .continue_button-active:hover i {
  margin-left: -0.6em;
}

.body_wrapper #step_2 .step_2-container .step_2-content .continue_button-container .continue_button-active:hover a, .body_wrapper .step_2-wrapper .step_2-container .step_2-content .continue_button-container .continue_button-active:hover a {
  margin-left: 0.2em;
}

.body_wrapper .step_2-group {
  padding: 1.8em 1.1em;
}

.body_wrapper .step_2-group .step_2-submit-l-container:hover {
  background-color: black;
  color: white;
  transition-duration: 1.2s;
}

.body_wrapper .step_2-group .step_2-submit-r-container:hover {
  background-color: green;
  color: white;
  transition-duration: 1.2s;
}

.body_wrapper .step_2-group button {
  background-color: #1BA1E2;
  color: white;
  border: solid #006EAF 0.13em;
  border-radius: 0.4em;
  box-shadow: 2px 3px #b4b4b4;
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
}

.body_wrapper .step_2-group .step_2-submit-l-container {
  width: 8.2em !important;
  height: 3.2em !important;
  margin-left: 1em;
}

.body_wrapper .step_2-group .step_2-submit-l-container .step_2-submit-l a {
  color: white;
  font-size: 1.1em !important;
  font-weight: 400;
  font-style: normal;
  padding-left: 0.8em;
}

.body_wrapper .step_2-group .step_2-submit-l-container .step_2-submit-l i {
  color: white;
}

.body_wrapper .step_2-group .step_2-submit-r-container {
  width: 9em !important;
  height: 3.2em !important;
  margin-right: 4em;
}

.body_wrapper .step_2-group .step_2-submit-r-container .step_2-submit-r a {
  color: white;
  font-size: 1.1em !important;
  font-weight: 400;
  font-style: normal;
  padding-right: 0.8em;
}

.body_wrapper .step_2-group .step_2-submit-r-container .step_2-submit-r i {
  color: white;
}

@media screen and (max-width: 1900px) {
  .body_wrapper .step_2-wrapper .step_2-content .payment_container {
    margin-left: 0 !important;
  }
  .body_wrapper .step_2-wrapper .step_2-content .payment_container .payment_info .credit_card-block .credit_card-box {
    margin-left: 1em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-content .payment_container .payment_info .secure_process-container {
    margin-top: -0.5em;
  }
  .body_wrapper .step_2-wrapper .step_2-content .payment_container .payment_info .secure_process-container .payment_cards-container {
    margin-left: 1.1em;
  }
  .body_wrapper .step_2-wrapper .step_2-group {
    margin-top: -0.9em !important;
  }
}

@media screen and (max-width: 1900px) and (max-width: 992px) {
  .body_wrapper .step_2-wrapper {
    margin-left: 0em !important;
    padding: 0 55px !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 2em;
    margin-left: 0;
  }
}

@media screen and (max-width: 1900px) and (max-width: 768px) {
  .body_wrapper .step_2-wrapper .step_2-container {
    padding-top: 1em !important;
    padding-left: 12.5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-text {
    width: 21em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-text h2 {
    text-align: justify !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info {
    width: 20em !important;
    margin-left: -1em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block {
    margin-left: 0em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4 {
    margin-left: 0em;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process h6 {
    text-align: justify !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .payment_cards-container {
    margin-left: -12.5em;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .payment_cards-container .card-box .visa_card {
    margin-left: 0em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 1em;
    margin-left: -10em !important;
  }
}

@media screen and (max-width: 1900px) and (max-width: 767px) {
  .body_wrapper .step_2-wrapper .step_2-container {
    padding-top: 1em !important;
    padding-left: 12.5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-text {
    width: 21em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-text h2 {
    text-align: justify !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info {
    width: 20em !important;
    margin-left: -1em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block {
    margin-left: 1.5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .credit_card-block h4 {
    margin-left: 2.5em;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .secure_process-container .secure_process h6 {
    text-align: justify !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .payment_cards-container {
    margin-left: -12.5em;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-content .payment_container .payment_info .payment_cards-container .card-box .visa_card {
    margin-left: 0em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 1em;
    margin-left: 0em !important;
  }
}

@media screen and (max-width: 1900px) and (max-width: 576px) {
  .body_wrapper .step_2-wrapper {
    margin-left: -1em !important;
    padding: 1em -5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container {
    padding-top: 1em !important;
    padding-left: 8em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 1em;
    margin-left: 1em !important;
  }
}

@media screen and (max-width: 1900px) and (max-width: 575px) {
  .body_wrapper #shopping_cart-process {
    margin-bottom: 2em !important;
  }
  .body_wrapper .step_2-wrapper {
    margin-left: -1em !important;
    padding: 1em -5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container {
    padding-top: 1em !important;
    padding-left: 8em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .payment_cards-container .card-box {
    margin-left: 20em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .payment_cards-container .card-box .misa_card {
    margin-left: 0em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 1em;
    margin-left: 1em !important;
  }
}

@media screen and (max-width: 1900px) and (max-width: 500px) {
  .body_wrapper #shopping_cart-process {
    margin-bottom: 2em !important;
  }
  .body_wrapper .step_2-wrapper {
    margin-left: -1em !important;
    padding: 1em -5em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container {
    padding-top: 1em !important;
    padding-left: 2em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .payment_cards-container .card-box {
    margin-left: 20em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .payment_cards-container .card-box .misa_card {
    margin-left: 0em !important;
  }
  .body_wrapper .step_2-wrapper .step_2-container .step_2-group {
    margin-top: 1em;
    margin-left: 1em !important;
  }
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.order_created-wrapper .order_created .order_created-order {
  margin-left: 1.5em !important;
  width: 6.7vmin !important;
}

.order_created-wrapper .order_created .order_created-font-change {
  margin-top: 0.5em;
  margin-left: 2.8em;
}

.order_created-wrapper .order_created .order_created-font-change h6 {
  font-size: 0.75em !important;
  font-weight: 400;
  letter-spacing: 0em !important;
}

@media screen and (max-width: 992px) {
  section .shopping_process-container .order_created-check {
    width: 1.5em;
    margin-top: -0.3em;
  }
}

@media screen and (max-width: 768px) {
  section .shopping_process-container .order_created-check {
    margin-left: -0.1em;
  }
  .order_created-wrapper .order_created .order_created-font-change h6 {
    letter-spacing: 0em !important;
  }
}

@media screen and (max-width: 767px) {
  section .shopping_process-container .order_created-check {
    margin-left: -0.1em;
  }
  .order_created-wrapper .order_created .order_created-order {
    margin-left: 3em !important;
  }
  .order_created-wrapper .order_created .order_created-font-change h6 {
    letter-spacing: 0.07em !important;
  }
}
